{% load static %}
<html lang="en"><head>

  <meta charset="UTF-8">

<link rel="apple-touch-icon" type="image/png" href="https://cpwebassets.codepen.io/assets/favicon/apple-touch-icon-5ae1a0698dcc2402e9712f7d01ed509a57814f994c660df9f7a952f3060705ee.png">
<meta name="apple-mobile-web-app-title" content="CodePen">

<link rel="shortcut icon" type="image/x-icon" href="https://cpwebassets.codepen.io/assets/favicon/favicon-aec34940fbc1a6e787974dcd360f2c6b63348d4b1f4e06c77743096d55480f33.ico">

<link rel="mask-icon" type="image/x-icon" href="https://cpwebassets.codepen.io/assets/favicon/logo-pin-8f3771b1072e3c38bd662872f6b673a722f4b3ca2421637d5596661b4e2132cc.svg" color="#111">



  <title>CodePen - Shopping cart JS</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>



    <!-- Libraries Stylesheet -->
    <link href="{% static "administrator/lib/animate/animate.min.css" %}" rel="stylesheet">
    <link href="{% static "administrator/lib/owlcarousel/assets/owl.carousel.min.css" %}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static "administrator/css/bootstrap.min.css" %}" rel="stylesheet">

<link href="{% static "administrator/css/style.css" %}" rel="stylesheet">


</head>

<body translate="no">


<!-- Main -->
    <div class=" bg-light my-6 py-6 pt-0">
        <div class="container">
            <div class="row g-4">
                {% for posts in post %}
                    <div class="col-lg-4 col-md-6 wow fadeInUp" >
                        <div class="product-item d-flex flex-column bg-white rounded overflow-hidden h-100">

                                <div class="position-relative mt-auto">
                                <img class="img-fluid" src="{{ posts.image.url }}" alt="">

                                </div>
                                <div class=" p-5">


                                    <div style="display: flex; justify-content: space-between">
                                        <h3 class="mb-3">{{ posts.title }}</h3>
                                        <div>

                                            <div class="d-inline-block " STYLE="margin-right: 10px">{{ posts.price }}</div>
                                        </div>
                                    </div>
                                    <div style="display: flex; justify-content: space-between">
                                        <span>{{ posts.description }}</span>
                                        <a href="{% url 'administrator:buy' posts.id %}" data-name="{{ posts.title }}" data-price="{{ posts.price }}" class="add-to-cart border border-primary   btn  btn-outline-primary ">Add to cart</a>

                                </div>

                                </div>


                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>


 <!-- Modal -->
<div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cart</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="show-cart table"></table>
        <div>Total price: $<span class="total-cart">0</span></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Order now</button>
      </div>
    </div>
  </div>
</div>










</body></html>